#monTexte {
    display: none;
    width: 130vh;
    margin-left: 15%
}
#mesTexte {
    display: none;
    width: 130vh;
    margin-left: 15%
}

#mesT {
    display: none;
    width: 130vh;
    margin-left: 15%
}